
form input{
    transition: 1s all;
}
form input:focus{
    outline: none;
    border-bottom: 3px solid rgb(228, 127, 127)!important;
}

@media screen and (min-width:1400px){

    .ContactDivContainer{
        width:90%;
        color:white;
        margin: 0 auto;
        height: 100vh;
        font-family: 'Jura', Helvetica, sans-serif;
    }

    .ContactDivContainer h1{
        font-size:4em;
        margin-bottom: 1em;
        margin-top: 40%;

    }

    .ContactDivContainer section p{
        width:650px;
        font-size:1.3em ;
    }

    .ContactsMainContainer{
        display: flex;
        align-items:first baseline;
        justify-content: center;

    }
    #user_data{
        display: flex;
    }
    #user_data div{
        width:100%;
    }

    form{
        margin-left: 10%;
        display: block;
        background-color: transparent;
        width:600px;
    }
    
    form label{
        font-size:1.3em;
        display: block;
        text-align: left;
        color: #e2d8e4be;
        font-family: Jura, Roboto, sans-serif;
        line-height: 2;
        margin-top: 20px;

    }

    form label span{
        color: #f39898;
    }

    form input[type='text']{
        font-size:1em;

        font-family: Jura, Roboto, sans-serif;
        width: 80%;
        height: 50px;
        background-color: transparent;
        border:none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
        color: #f0e7e7;
    }

    form input[type='email']{
        width:90%;
        font-size:1em;
        height: 50px;
        font-family: Jura, Roboto, sans-serif;
        color: #d4c4c4;
        border: none;
        background-color: transparent;

        margin: auto;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
    }

    form input[type='textarea']{
        width:90%;
        margin: auto;
        font-size:1em;
        height: 80px;
        background-color: transparent;
        font-family: Jura, Roboto, sans-serif;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
        color: #d4c4c4;
    }

    form input[type='submit']{
        display: block;
        text-align: center;
        background-color: transparent;
        color: #d4c4c4;
        width:50%;
        font-family: Jura, Roboto, sans-serif;
        font-size: 1.5em;
        padding: 10px 0;
        margin-top: 50px;
        margin-left: 19%;
        border: 3px solid #dbd8db;
        cursor: pointer;

    }

    form input[type='submit']:hover{
        background-color: #161616;
        border: 3px solid #161616;
        color: white;
    }

    form input[type='text']::placeholder,
    form input[type='email']::placeholder,
    form input[type='textarea']::placeholder
    {
        font-size: 1.3em;
        color: rgba(207, 199, 199, 0.582);
        font-family: Jura, Roboto, sans-serif;
    }
}

@media screen and (max-width:1399px) and (min-width:801px){

    .ContactDivContainer{
        width:90%;
        color:white;
        background-color: transparent;
        margin:  0 auto 15em;
        font-family: 'Jura', Helvetica, sans-serif;
    }

    .ContactDivContainer h1{
        font-size:4em;
        margin-bottom: 1em;
        text-align: center;

    }

    .ContactDivContainer section p{
        width:100%;
        font-size:1.3em ;
    }

    .ContactsMainContainer{
        display: flex;
        align-items:first baseline;
        justify-content: center;

    }
    #chat_section{
        width: 50%;
    }
    #user_data{
        display: flex;
    }
    #user_data div{
        width:500px;
    }

    form{
        margin-left:2%;
        margin-right: 5%;
        display: block;
        background-color: transparent;
        width: 45%;
    }
    
    form label{
        font-size:1.3em;
        display: block;
        text-align: left;
        color: #e2d8e4be;
        font-family: Jura, Roboto, sans-serif;
        line-height: 2;
        margin-top: 20px;

    }

    form label span{
        color: #f39898;
    }

    form input[type='text']{
        font-size:1em;

        font-family: Jura, Roboto, sans-serif;
        width: 80%;
        height: 50px;
        background-color: transparent;
        border:none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
        color: #f0e7e7;
    }

    form input[type='email']{
        width:90%;
        font-size:1em;
        height: 50px;
        font-family: Jura, Roboto, sans-serif;
        color: #d4c4c4;
        border: none;
        background-color: transparent;
        margin: auto;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
    }

    form input[type='textarea']{
        width:90%;
        margin: auto;
        font-size:1em;
        height: 80px;
        background-color: transparent;
        font-family: Jura, Roboto, sans-serif;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
        color: #d4c4c4;
    }

    form input[type='submit']{
        display: block;
        text-align: center;
        background-color: transparent;
        color: #d4c4c4;
        width:50%;
        font-family: Jura, Roboto, sans-serif;
        font-size: 1.5em;
        padding: 10px 0;
        margin-top: 50px;
        margin-left: 19%;
        border: 3px solid #dbd8db;
        cursor: pointer;

    }

    form input[type='submit']:hover{
        background-color: #161616;
        border: 3px solid #161616;
        color: white;
    }

    form input[type='text']::placeholder,
    form input[type='email']::placeholder,
    form input[type='textarea']::placeholder
    {
        font-size: 1.3em;
        color: rgba(207, 199, 199, 0.582);
        font-family: Jura, Roboto, sans-serif;
    }

    form input:focus{
        outline: none;
    }
}


@media screen and (max-width:800px) and (min-width:250px){

    .ContactDivContainer{
        width:90%;
        color:white;
        margin:0 auto 3em;
        padding-top: 9em;
        font-family: 'Jura', Helvetica, sans-serif;
    }

    .ContactDivContainer h1{
        font-size:2em;
        margin-bottom: 1em;
        text-align: center;
    }

    .ContactDivContainer section p{
        width:90%;
        font-size:1.3em;
        margin: auto;
        text-align: center;
    }

    .ContactDivContainer section span{
        text-align: center;
        margin: 1em auto;
        display: block;
    }

    #chat_section{
        width:100%;
    }

    #user_data{
        display: flex;
        gap: 30px;
        width:100%;
        
    }
    #user_data div{
        width:100%;
    }

    form::before{
        content: "Use form below to send me a message!";
        font-size: 1.1em;
        text-align: center;
        display: block;
        font-weight: 600;
        margin-bottom: 1em;
    }

    form{
        margin-top: 10%;
        padding: 20px;
        display: block;
        background-color: transparent;
        width:100%;
    }
    
    form label{
        font-size:1.3em;
        display: block;
        text-align: left;
        color: #e2d8e4be;
        font-family: Jura, Roboto, sans-serif;
        line-height: 2;
        margin-top: 20px;

    }

    form label span{
        color: #f39898;
    }

    form input[type='text']{
        font-size:1em;

        font-family: Jura, Roboto, sans-serif;
        width: 100%;
        height: 50px;
        background-color: transparent;
        border:none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
        color: #f0e7e7;
        border-radius: 0;

    }

    form input[type='email']{
        width:100%;
        font-size:1em;
        height: 50px;
        font-family: Jura, Roboto, sans-serif;
        color: #d4c4c4;
        border: none;
        background-color: transparent;
        border-radius: 0;
        margin: auto;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
    }

    form input[type='textarea']{
        width:100%;
        margin: auto;
        font-size:1em;
        height: 80px;
        background-color: transparent;
        font-family: Jura, Roboto, sans-serif;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.705);
        color: #d4c4c4;
    }

    form input[type='submit']{
        display: block;
        text-align: center;
        background-color: transparent;
        color: #d4c4c4;
        width:50%;
        font-family: Jura, Roboto, sans-serif;
        font-size: 1.5em;
        padding: 10px 0;
        margin-top: 50px;
        display: block;
        margin: 2em auto 0;
        border: 3px solid #dbd8db;
        cursor: pointer;

    }

    form input[type='submit']:hover{
        background-color: #161616;
        border: 3px solid #161616;
        color: white;
    }

    form input[type='text']::placeholder,
    form input[type='email']::placeholder,
    form input[type='textarea']::placeholder
    {
        font-size: 1em;
        color: rgba(207, 199, 199, 0.582);
        font-family: Jura, Roboto, sans-serif;
    }
}