
@media screen and (min-width:1200px){

    header{
        width:80%;
        border-radius: 10px;
        position: fixed;
        z-index: 2;
    }

    header section{
        display: flex;
        width:80%;
        padding: 2% 0;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    #logo_container{
        display: flex;
        align-items: center;
    }

    header p{
        color: #FFFFFF;
        text-align: left;
        font-size: 1.4em;
        cursor: pointer;
        font-family: Jura, Roboto, sans-serif;
    }

    header ul{
        display: inline-block;
    }

    header li{
        color: #FFFFFF;
        display: inline-block;
        margin-left: 2em;
        font-family: Jura, Roboto, sans-serif;
        font-size: 1.4em;
        cursor: pointer;
       
    }

    header li a{
        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.5s ease;
    }

    header li::before{
        content:"<";
        opacity: 0;
        color:#C800FF;
        transition: all 0.2s ease;
    }

    header li::after{
        content:"/>";
        color:#C800FF;
        opacity: 0;
        transition: all 0.2s ease;
    }

    header li a:hover{
        color:#C800FF;
    }

    header li:hover::before{
        content:"<";
        opacity: 1;
    }

    header li:hover::after{
        content:"/>";
        opacity: 1;
    }
}   
