
@media screen and (min-width:1200px){

    header{
        top:0;
        width:100%;
        border-radius: 10px;
        position: fixed;
        z-index: 999999;
        background-color: #282829;
    }

    header section{
        width:100%;
        padding: 2% 0;
        background-color: #282829;
        margin: auto;
    }

    #logo_container{
        display: flex;
        width:90%;
        margin: auto;
        border-bottom:2px solid rgb(255, 255, 255);
        background-color: transparent;
        padding: 0 0 1.5em 0;
        align-items: center;
        justify-content: center;
    }

    #logo_container p{

        margin: 0;
    }

    #logo_container img{

        margin: 0 20px 0 0;
        width:70px;
    }


    header p{
        color: #FFFFFF;
        text-align: left;
        font-size: 1.4em;
        cursor: pointer;
        font-family: Jura, Roboto, sans-serif;
    }

    header ul{
        display: inline-block;
        width:100%;
        text-align: center;
        margin: auto;
        padding-top: 2em;
    }

    header li{

        color: #FFFFFF;
        display: inline-block;
        font-family: Jura, Roboto, sans-serif;
        font-size: 1.4em;
        cursor: pointer;
       
    }
    header li a{

        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.5s ease;
    }

    header li::before{
        content:"<";
        opacity: 0;
        color:#91a4c7;
        transition: all 0.2s ease;
    }

    header li::after{
        content:"/>";
        color:#91a4c7;
        opacity: 0;
        transition: all 0.2s ease;
    }

    header li a:hover{
        color:#91a4c7;
    }

    header li:hover::before{
        content:"<";
        opacity: 1;
    }

    header li:hover::after{
        content:"/>";
        opacity: 1;
    }
}   



@media screen and (max-width:1199px){

    header{
        top:0;
        width:100%;
        border-radius: 10px;
        position: fixed;
        z-index: 999999;
        background-color: #282829;
    }

    header section{
        width:100%;
        padding: 2% 0;
        background-color: #282829;
        margin: auto;
    }

    #logo_container{
        display: flex;
        width:90%;
        margin: auto;
        border-bottom:1px solid rgb(255, 255, 255);
        background-color: transparent;
        padding: 0 0 1em 0;
        align-items: center;
        justify-content: center;
    }

    #logo_container p{

        margin: 0;
        font-size: 1.1em;
    }

    #logo_container img{

        margin: 0 10px 0 0;
        width:40px;
    }


    header p{
        color: #FFFFFF;
        text-align: left;
        font-size: 1.4em;
        cursor: pointer;
        font-family: Jura, Roboto, sans-serif;
    }

    header ul{
        display: inline-block;
        width:100%;
        text-align: center;
        margin: auto;
        padding-top: 2em;
    }

    header li{

        color: #FFFFFF;
        display: inline-block;
        font-family: Jura, Roboto, sans-serif;
        font-size: 1.2em;
        cursor: pointer;
       
    }
    header li a{

        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.5s ease;
    }

    header li::before{
        content:"<";
        opacity: 0;
        color:#91a4c7;
        transition: all 0.2s ease;
    }

    header li::after{
        content:"/>";
        color:#91a4c7;
        opacity: 0;
        transition: all 0.2s ease;
    }

    header li a:hover{
        color:#91a4c7;
    }

    header li:hover::before{
        content:"<";
        opacity: 1;
    }

    header li:hover::after{
        content:"/>";
        opacity: 1;
    }
}   
