@media screen and (min-width:1600px){
.projectMainContainer{
    margin-top: 10%;
    padding: 2em 0;
    min-height: 100vh;
    font-family: 'Jura', Helvetica, sans-serif;

}

.projectMainContainer h2{
    font-size: 3em;
    line-height: 2.6;
    color:white;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: 300;
}

.carousel_container{

    height: 100%;
    width:90%;
    padding: 0 20px;
    margin:auto;
    
}

.carousel-indicators{
    width:40%;
    margin: auto;
}

.carousel-indicators button{
    width:50px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.171);
    height: 10px;
    box-shadow: none;
    background-color: #252529;
    margin: 2em 10px 0;

}

.carousel-indicators button:focus{
    outline:none;
    background-color: white;

}

.active{
    background-color: white;
    outline: none;
}

.carousel_container img{
    width:200px;
    margin-left: 4%;
    margin-right: 5%;
}

.slide_container{

    color:white;
    background-color: #252529;
    display: flex;
    align-items: center;
}

.slide_container div h3{

    font-size: 2em;
    line-height: 2;
}

.slide_container div p{
    font-size:1.3em;
    font-weight: 300;
}

.slide_container:last-of-type div p{
    width:600px;
    margin-bottom: 1.5em;
}

.slide_container div a{
    border: 2px solid white;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    padding:10px 20px;
    transition: all 0.4s ease-in;
    background-color: transparent;
}

.slide_container div a:hover{
  background-color: rgb(241, 241, 241);

  color:#282829!important;

}


.carousel-control-next{
    font-size:1.3em;
    padding: 10px;
    width:40px;
    text-indent: -9999px;
}


.carousel-control-prev, .carousel-control-next{  
    display: none; 
    }


.project_year{

    font-size:2.6em;
    margin-left: 15%;
}

}
@media screen and (max-width:1599px){
    
    .projectMainContainer{
        display: none;
        width:90%;
        height: 100vh;
        margin:  auto;
    }

    
.projectMainContainer h2{
    font-size: 3em;
    line-height: 2.6;
    color:white;
    margin-left: 10%;
    font-weight: 300;
}

.carousel_container{

    height: 100%;
    width:100%;
    padding: 0 20px;
    margin:auto;
    
}

.carousel-indicators{
    width:40%;
    bottom:-50%;
    left:20%;
    margin: auto;
}

.carousel-indicators button{
    width:50px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.171);
    height: 10px;
    box-shadow: none;
    background-color: #252529;
    margin: 2em 10px 0;

}

.carousel-indicators button:focus{
    outline:none;
    background-color: white;

}

.active{
    background-color: white;
    outline: none;
}

.carousel_container img{
    width:150px;
    margin-left: 4%;
    margin-right: 5%;
}

.slide_container{

    color:white;
    background-color: #282829;
    display: flex;
    align-items: center;
}

.slide_container div h3{

    font-size: 1.6em;
    line-height: 2;
}

.slide_container div p{
    font-size:1em;
    width: 95% !important;
    font-weight: 300;
}

.slide_container:last-of-type div p{
    width:600px;
    margin-bottom: 1.5em;
}

.slide_container div a{
    border: 2px solid white;
    font-size: 1.2em;
    cursor: pointer;
    padding:10px 20px;
    transition: all 0.4s ease-in;
    background-color: transparent;
}

.slide_container div a:hover{
  background-color: rgb(241, 241, 241);
  color:#282829!important;

}


.carousel-control-next{
    font-size:1.3em;
    padding: 10px;
    width:40px;
    text-indent: -9999px;
}


.carousel-control-prev, .carousel-control-next{  
    display: none; 
    }


.project_year{

    font-size:1.5em;
    margin-left: 5%;
}

}