@media screen and (min-width:1200px){

    .ProjectMainContainer{
        background-color: #282829;
        color:white;

    }

    .ProjectSectionContainer h2{
        font-size: 3em;
        line-height: 2.6;
        margin-left: 15%;
        margin-top: 1em;
        font-weight: 300;
    }
  
    .carousel_container{
        border:2px solid red;
        margin: auto;
        width:70%;
    }

    .carousel_container img{
        border:2px solid green;
        width:350px!important;
    }

}